<h2 mat-dialog-title>Solicitar documentos da prefeitura</h2>
<mat-dialog-content>
  <ng-container *ngIf="!isLoading; else loading">
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Mês</mat-label>
        <mat-select [formControl]="monthControl">
          <mat-option [value]="0">agosto 2023</mat-option>
          <mat-option [value]="1">setembro 2023</mat-option>
          <mat-option [value]="2">outubro 2023</mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <ul>
      <li *ngFor="let client of data.clients;">{{client.name}}</li>
    </ul>

    <mat-error *ngIf="error.length > 0">Erro ao solicitar arquivos! Tente novamente mais tarde.</mat-error>
  </ng-container>
  <ng-template #loading><mat-spinner></mat-spinner></ng-template>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-flat-button (click)="requestFiles()" color="accent" [disabled]="isLoading">Solicitar Documentos</button>
</mat-dialog-actions>
