<mat-toolbar color="accent">
  <button mat-icon-button aria-label="Abrir menu" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title">DOCFÁCIL</span>
  <span style="flex: 1 1 auto;"></span>
  <button mat-icon-button aria-label="Sair" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" class="toggle-menu">
    <app-navigation-list></app-navigation-list>
  </mat-drawer>

  <article>
    <router-outlet></router-outlet>
  </article>

</mat-drawer-container>