@import "docfacil-theme";

mat-drawer-container  {
  width: 100%;
  height: 100%;
  background-color: $background-color;
}

mat-drawer {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 30%;
  }
}


.title {
  font-family: $accent-font;
  font-weight: bold;
}
