<article class="page-container">
  <h1>Meus clientes</h1>

  <ng-container *ngIf="clients$ | async as cityClients; else loading">
    <section>
      <button mat-raised-button color="accent">
        <mat-icon fontIcon="person_add"></mat-icon>
        Adicionar cliente
      </button>
      <mat-tab-group animationDuration="0ms" *ngIf="cityClients.total > 0 else emptyClients">
        <mat-tab label="Porto Alegre">
          <app-client-table [clients]="cityClients.poa"></app-client-table>
        </mat-tab>
        <mat-tab label="Canoas">
          <app-client-table [clients]="cityClients.canoas"></app-client-table>
        </mat-tab>
      </mat-tab-group>
      <ng-template #emptyClients>
        <h2>Você ainda não possui clientes cadastrados!</h2>
      </ng-template>
    </section>
  </ng-container>
  <ng-template #loading><mat-spinner></mat-spinner></ng-template>
</article>
