section {
  h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  .buttons {
    display: flex;
  }

  button {
    font-weight: bold;
    text-transform: uppercase;
    margin: 2rem auto;
    display: block;
  }

  mat-tab-group {
    margin: 1rem auto;
  }

  @media screen and (min-width: 768px) {
    mat-tab-group {
      width: 80%;
    }
  }
}