//$primary-font: 'Poppins', sans-serif;
//$accent-font: 'Outfit', sans-serif;

//$primary-font: 'Nunito Sans', sans-serif;
//$accent-font: 'Halant';

//$primary-font: 'Open Sans', sans-serif;
//$accent-font: 'Ubuntu';

$primary-font: 'Lato', sans-serif;
$accent-font: 'Arvo';

//$primary-font: 'Nunito';
//$accent-font: 'Nunito';

$background-color: #E5E5E5;

$accent-color: #33364D;

//background-color: #e5e5e5; dark
//background-color: #F2F2f2; light
