//$primary-font: 'Poppins', sans-serif;
//$accent-font: 'Outfit', sans-serif;

//$primary-font: 'Nunito Sans', sans-serif;
//$accent-font: 'Halant';

//$primary-font: 'Open Sans', sans-serif;
//$accent-font: 'Ubuntu';

$primary-font: 'Lato', sans-serif;
$accent-font: 'Arvo';

//$primary-font: 'Nunito';
//$accent-font: 'Nunito';

$background-color: #E5E5E5;

$accent-color: #33364D;

//background-color: #e5e5e5; dark
//background-color: #F2F2f2; light


.page-container {
  padding: 1rem;
  h1 {
    font-size: 1.5rem;
    font-family: $accent-font;
    color: $accent-color;
    margin: 1rem 0;
  }
  mat-spinner { margin: auto; }

  @media screen and (min-width: 768px) {
    h1 { font-size: 2rem; }
  }
}
