//$primary-font: 'Poppins', sans-serif;
//$accent-font: 'Outfit', sans-serif;

//$primary-font: 'Nunito Sans', sans-serif;
//$accent-font: 'Halant';

//$primary-font: 'Open Sans', sans-serif;
//$accent-font: 'Ubuntu';

$primary-font: 'Lato', sans-serif;
$accent-font: 'Arvo';

//$primary-font: 'Nunito';
//$accent-font: 'Nunito';

$background-color: #E5E5E5;

$accent-color: #33364D;

//background-color: #e5e5e5; dark
//background-color: #F2F2f2; light

.page-container {
    background-color: $background-color;

    h1 {
        font-family: $accent-font;
        font-size: 2rem;
    }

    @media screen and (min-width: 768px) {
        //border: 3px solid $accent-color;
        border-radius: 4px;
    }
}