<!--<ng-container *ngIf="auth.isAuthenticated$ | async;">-->
<!--  <ul *ngIf="auth.user$ | async as user">-->
<!--    <li>{{ user.name }}</li>-->
<!--    <li>{{ user.email }}</li>-->
<!--  </ul>`-->
<!--  <button (click)="logout()">Logout</button>-->
<!--</ng-container>-->

<!--<button mat-raised-button color="primary">teste</button>-->
<!--<button mat-raised-button color="accent">teste</button>-->
<!--<button mat-raised-button color="warn">teste</button>-->


home compo
<!--<button (click)="logout()">Logout</button>-->
